// visual styles for basic elemens
// no positional styling

// some element-styles need their own files
@import "elements/buttons";
@import "elements/links";
@import "elements/lists";
@import "elements/forms";

@mixin body-style {
  background: $body-bg;
  @include typestyle( bodycopy );
  text-shadow: $body-text-shadow;
  font-family: $body-font-family;
}//@mixin

@mixin hr-style {
  border-top: $bevel-dark-border;
  border-bottom: $bevel-light-border;
}//@mixin

@mixin em-style { font-style: $em-font-style; }
@mixin strong-style { font-weight: $bold; }


$blockquote-padding: 20px 10px;
@mixin blockquote-style {
  padding: $blockquote-padding;
  &:before, &:after { content: " \"\ "; }
}//@mixin

@mixin code-style {
  text-align: left;
  @include text-input;
}//@mixin


@mixin selection-pseudo-style {
  color: $selection-text-color;
  background: $selection-bg-color;
  text-shadow: none;
}//@mixin

//--------------------------------------------
// apply the visual styles to your elements.
//
body { @include body-style; }

h1 { @include typestyle( h1 ); }
h2 { @include typestyle( h2 ); }
h3 { @include typestyle( h3 ); }
h4 { @include typestyle( h4 ); }
h5 { @include typestyle( h5 ); }
h6 { @include typestyle( h6 ); }

hr { @include hr-style; }
a { @include link; }
blockquote { @include blockquote-style; }
em { @include em-style; }
strong { @include strong-style; }
code { @include code-style; }
button, input[type=submit], input[type=button] { @include button; }
textarea { @include text-input; }
input {
  &[type=text],
  &[type=password],
  &[type=email],
  &[type=number],
  &[type=search] {
    @include text-input;
    } // type=[]
} // input
::selection { @include selection-pseudo-style; }