// visual styles for basic elemens
// no positional styling

// element variables
// variables could be factored out
// and placed in a theme.scss file to DRY it out.
$bg-color: $off-white;
$blockquote-padding: 20px 10px;
$border-radius: 4px;

// some elements need their own files.
@import "elements/buttons";
@import "elements/links";
@import "elements/lists";
@import "elements/forms";


html { background: $bg-color; }

em { font-style: $em-font-style; }
strong { font-weight: $strong-font-style; }
small { font-size: $small-font-size; }

blockquote {
  padding: $blockquote-padding;
  font-family: $blcokquote-font-family;
  font-style: $blockquote-font-style;
  font-size: $blockquote-font-size;
  &:before, &:after {
    content: " \"\ ";
    padding: $blockquote-padding;
  } // &:before
} // blockquote

code {
  text-align: left;
  font-family: $pre-code-font-family;
  font-size: $pre-code-font-size;
} // pre, code