%nav
  %a{:href => "/"}>Styleguide
  %a{:href => "/exo"}>Exo
  %a{:href => "/source_sans"}>Source Sans
  %a{:href => "/background_tool"}>Background Tool
  %a{ href: "http://github.com/matthewcopeland/sassy-seeds", target: "_blank"} Fork on Github
  / %a{:href => "#links"} Links
  / %a{:href => "#icons"} Icons
  / %a{:href => "/styleguide/search"} Search Results Sample