%nav
  %a{:href => "/"}>Home
  %a{:href => "#colors"}>Colors
  %a{:href => "#typography"}>Typography
  %a{:href => "#buttons"}>Buttons
  %a{:href => "#forms"}>Forms
  %a{:href => "#lists"}>Lists
  %a{ href: "http://github.com/matthewcopeland/sassy-seeds", target: "_blank"} Fork me on Github
  / %a{:href => "#links"} Links
  / %a{:href => "#icons"} Icons
  / %a{:href => "/styleguide/search"} Search Results Sample