!!!5
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %title White Label Styleguide
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/jquery-1.8.1.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/modernizr-2.6.2.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}

  %body
    = partial :'partials/_header'
    %hr
    %section#main
      = yield

    = partial :'partials/_theme_switcher'
    = partial :'partials/_footer'