#main-header {
  @include header-style;

  h1 {margin-right:10px;}
  h1, nav { display: inline-block; }

  nav a {
    display: inline-block;
    padding: 3px 10px;
    text-align: center;
    @include nav-link;
  }//nav a

}//#main-header

@mixin header-rwd {
  #main-header {
    padding-top: 0;
    h1 { text-align: center;}
    h1, nav { display: block; }
    nav {
      a {
        width: 50%;
        @include padding-kill( horizontal );
        @include bevel-kill ( horizontal );
      }//a
    }//nav
  }//#main-header
}//@mixin