$theme-count: 2;
$mobile-theme-switcher-width: 100%/$theme-count;
#theme-switcher {
  li {
    display: inline-block;
    @include button( $type: multibutton );
  }//li
}//#theme-switcher

@mixin theme-switcher-rwd {
  #theme-switcher li {
    @include padding-kill( horizontal );
    width: $mobile-theme-switcher-width;
  }
}//@mixin