#exo-page
	%h1.hero_text_bold This Is Exo, The ‘Unique’ One.
	%h1.hero_text_thin This is a (secondary) Hairline option. Sassy.
	%h1 Big title stuff with this here h1 tag Demi 24/48. Oh Yes.
	%h2 Create some pretty good hierarchy with this h2, <br/> which can even start getting into second <br/> and third lines. It’s Demi 18/27.
	%h3 Might want to use the the next two tags in tandem, to denote h3 one way, Demi
	%p You would start to put body copy here, so here’s a bit of body copy for ya, with some nice comfortable Is this too subtle for a link? line-height to make it seem ‘clean’ and keep it nice and readable. Could even give it a bit more. Also, a rule: no body copy between h1&h2&h3. Because hierarchy is an important thing. The body copy is Regular at  2/18.
	%h4 And then, h4 denotes the same type size (16/24), but Bold 
	%p You would start to put body copy here, so here’s a bit of body copy for ya, with some nice comfortable <a>surprise link!</a> line-height to make it seem ‘clean’ and keep it nice and readable. Could even give it a bit more. Also: no body copy between h1&h2&h3. Because hierarchy is an important thing. The body copy is Regular at 12/18
	%h5 Header 5 is is like a littler h4 (14/21). Basically just for weirdos.
	%p body copy here, so here’s a bit of body copy for ya, champ.
	%h6 As is Header 6 is 12/18 extrabold #1A1A1A. For other other stuff. 
	%p body copy here, so here’s a bit of body copy for ya, sport.