// thoughtworks brand color palette.
$white: #ffffff;
$off-white: #efefef;

$greyblue: #5C6F7B;
$blackblue: #162934;

$lightblue: #29AAE2;
$darkblue: #006FAB;

$lightgreen: #B1BA1D;
$darkgreen: #8D8A00;

$brightred: #C4122F;
$darkred: #891F02;
$brick: #B94A48;

$lightpurple: #5E2351;
$darkpurple: #492D3C;

$lightorange: #F59F1A;
$darkorange: #D06F19;

$pink: #C9006B;
$maroon: #7C0040;

$h136-dark-text-color: #1a1a1a;
$h245-dark-text-color: #4f4f4f;
$bodycopy-dark-text-color: #333;

$h136-light-text-color: #e5e5e5;
$h245-light-text-color: #b3b3b3;
$bodycopy-light-text-color: #cdcdcd;

//--------------------------------
// bg-textures
$noise: url('/images/noise.png');
