%fieldset
  %span.checkbox-wrapper
    %input{ :type=>"checkbox" }
    %span
  %label A Checkbox

%fieldset
  %span.checkbox-wrapper
    %input{ :type=>"checkbox", :checked=>"checked" }
    %span
  %label A Checked Checkbox