%fieldset
  %span.radio-wrapper
    %input{:type=>"radio", :name=>"radiogroup", :checked=>"checked"}
    %span
  %label Checked Radio

- 2.times do
  %fieldset
    %span.radio-wrapper
      %input{:type=>"radio", :name=>"radiogroup"}
      %span
    %label Radio