@import url(http:/\/fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900,300italic,400italic,500italic,600italic,700italic,800italic,900italic,200italic,100italic);
/* line 2, ../../assets/stylesheets/base/_reset.scss */
html, body {
  position: relative;
  min-height: 100%;
  width: 100%;
  height: 100%;
  line-height: 1;
}

/* line 3, ../../assets/stylesheets/base/_reset.scss */
html, body, div, span, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, output, applet, object, iframe, p, blockquote, pre, code, a, abbr, acronym, address, big, cite, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, del, dfn, table, tbody, tfoot, thead, tr, th, td, tt, var, b, u, i, center, dl, dt, dd, ul, ol, li, label, legend, caption, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, keygen, select, button, button::-moz-focus-inner, isindex, hr {
  margin: 0;
  padding: 0;
}

/* line 4, ../../assets/stylesheets/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../../assets/stylesheets/base/_reset.scss */
fieldset, img, abbr, acronyminput, input, textarea {
  border: 0;
  border: none;
  outline: none;
}

/* line 6, ../../assets/stylesheets/base/_reset.scss */
address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 7, ../../assets/stylesheets/base/_reset.scss */
ol, ul, li {
  list-style: none;
  list-style-type: none;
}

/* line 8, ../../assets/stylesheets/base/_reset.scss */
caption, th, input, textarea {
  text-align: left;
}

/* line 9, ../../assets/stylesheets/base/_reset.scss */
em, strong {
  font-style: normal;
  font-weight: normal;
}

/* line 10, ../../assets/stylesheets/base/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 1.0em;
  font-weight: normal;
}

/* line 11, ../../assets/stylesheets/base/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: '';
  content: none;
  quotes: none;
}

/* line 12, ../../assets/stylesheets/base/_reset.scss */
a, a:hover, a:visited, a:active, a:link {
  text-decoration: none;
}

/* line 13, ../../assets/stylesheets/base/_reset.scss */
form {
  display: block;
}

/* line 14, ../../assets/stylesheets/base/_reset.scss */
textarea:focus, input:focus, select:focus {
  outline: none;
}

/* line 15, ../../assets/stylesheets/base/_reset.scss */
input, textarea, keygen, select, button, isindex {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  line-height: inherit;
  text-transform: none;
  text-indent: 0;
  text-shadow: inherit;
  display: inline-block;
  text-align: inherit;
  border: none;
}

/* line 17, ../../assets/stylesheets/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 18, ../../assets/stylesheets/base/_reset.scss */
.clear, .clearfloat {
  clear: both;
}

/* line 20, ../../assets/stylesheets/base/_reset.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../assets/stylesheets/_sassy_seeds.scss */
body {
  background: #333333 url("/images/noise.png");
  font-size: 12px;
  line-height: 28px;
  font-weight: 400;
  color: #cdcdcd;
  text-shadow: 0 -1px rgba(22, 41, 52, 0.3);
  font-family: "Exo", Arial, Sans-Serif;
}

/* line 6, ../../assets/stylesheets/_sassy_seeds.scss */
h1 {
  font-size: 24px;
  line-height: 48px;
  font-weight: 600;
  color: #e5e5e5;
}

/* line 7, ../../assets/stylesheets/_sassy_seeds.scss */
h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: #b3b3b3;
}

/* line 8, ../../assets/stylesheets/_sassy_seeds.scss */
h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #e5e5e5;
}

/* line 9, ../../assets/stylesheets/_sassy_seeds.scss */
h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #b3b3b3;
}

/* line 10, ../../assets/stylesheets/_sassy_seeds.scss */
h5 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #b3b3b3;
}

/* line 11, ../../assets/stylesheets/_sassy_seeds.scss */
h6 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 800;
  color: #e5e5e5;
}

/* line 13, ../../assets/stylesheets/_sassy_seeds.scss */
hr {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* line 14, ../../assets/stylesheets/_sassy_seeds.scss */
a {
  -moz-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 3, ../../assets/stylesheets/elements/_links.scss */
a, a:visited {
  color: #29aae2;
}
/* line 4, ../../assets/stylesheets/elements/_links.scss */
a:hover {
  color: #56bce8;
}

/* line 15, ../../assets/stylesheets/_sassy_seeds.scss */
blockquote {
  padding: 20px 10px;
}
/* line 36, ../../assets/stylesheets/_elements.scss */
blockquote:before, blockquote:after {
  content: " \"\ ";
}

/* line 16, ../../assets/stylesheets/_sassy_seeds.scss */
em {
  font-style: italic;
}

/* line 17, ../../assets/stylesheets/_sassy_seeds.scss */
strong {
  font-weight: 700;
}

/* line 18, ../../assets/stylesheets/_sassy_seeds.scss */
code {
  text-align: left;
  display: inline-block;
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #1a1a1a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #2b2b2b;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  -moz-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 15, ../../assets/stylesheets/elements/_forms.scss */
code:focus {
  background: #242424;
}

/* line 19, ../../assets/stylesheets/_sassy_seeds.scss */
button, input[type=submit], input[type=button] {
  display: inline-block;
  cursor: pointer;
  padding: 8px 14px;
  text-align: center;
  color: #cdcdcd;
  text-shadow: 0 -1px rgba(22, 41, 52, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  -o-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #1f1f1f));
  background: -webkit-linear-gradient(top, #333333, #1f1f1f);
  background: -moz-linear-gradient(top, #333333, #1f1f1f);
  background: -o-linear-gradient(top, #333333, #1f1f1f);
  background: -ms-linear-gradient(top, #333333, #1f1f1f);
  background: linear-gradient(top, #333333, #1f1f1f);
}
/* line 19, ../../assets/stylesheets/elements/_buttons.scss */
button:hover, button:focus, input[type=submit]:hover, input[type=submit]:focus, input[type=button]:hover, input[type=button]:focus {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1f1f1f));
  background: -webkit-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: -moz-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: -o-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: -ms-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: linear-gradient(top, #4d4d4d, #1f1f1f);
}
/* line 20, ../../assets/stylesheets/elements/_buttons.scss */
button:active, input[type=submit]:active, input[type=button]:active {
  background: #262626;
}

/* line 20, ../../assets/stylesheets/_sassy_seeds.scss */
textarea {
  display: inline-block;
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #1a1a1a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #2b2b2b;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  -moz-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 15, ../../assets/stylesheets/elements/_forms.scss */
textarea:focus {
  background: #242424;
}

/* line 26, ../../assets/stylesheets/_sassy_seeds.scss */
input[type=text], input[type=password], input[type=email], input[type=number], input[type=search] {
  display: inline-block;
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #1a1a1a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #2b2b2b;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  -moz-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 15, ../../assets/stylesheets/elements/_forms.scss */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=search]:focus {
  background: #242424;
}

/* line 30, ../../assets/stylesheets/_sassy_seeds.scss */
::selection {
  color: #333333;
  background: #cdcdcd;
  text-shadow: none;
}

/* line 2, ../../assets/stylesheets/partials_and_pages/_layout.scss */
#main-header, #main, #main-footer {
  padding: 20px;
}

/* line 1, ../../assets/stylesheets/partials_and_pages/_header.scss */
#main-header {
  background: url("/images/noise.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b2b2b), color-stop(100%, #262626));
  background: url("/images/noise.png"), -webkit-linear-gradient(top, #2b2b2b, #262626);
  background: url("/images/noise.png"), -moz-linear-gradient(top, #2b2b2b, #262626);
  background: url("/images/noise.png"), -o-linear-gradient(top, #2b2b2b, #262626);
  background: url("/images/noise.png"), -ms-linear-gradient(top, #2b2b2b, #262626);
  background: url("/images/noise.png"), linear-gradient(top, #2b2b2b, #262626);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 4, ../../assets/stylesheets/partials_and_pages/_header.scss */
#main-header h1, #main-header nav {
  display: inline-block;
}
/* line 6, ../../assets/stylesheets/partials_and_pages/_header.scss */
#main-header nav a {
  display: inline-block;
  padding: 3px 10px;
  text-align: center;
}
/* line 64, ../../assets/stylesheets/base/_utilities.scss */
#main-header nav a:not(:first-of-type) {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 65, ../../assets/stylesheets/base/_utilities.scss */
#main-header nav a:not(:last-of-type) {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 6, ../../assets/stylesheets/partials_and_pages/_theme_switcher.scss */
#theme-switcher {
  position: fixed;
  top: 20px;
  right: 0;
  text-align: center;
  background: #333333 url("/images/noise.png");
  padding: 10px 20px 10px 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -khtml-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -moz-box-shadow: -1px 1px 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -1px 1px 10px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: -1px 1px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: -1px 1px 10px 0 rgba(0, 0, 0, 0.4);
}
/* line 17, ../../assets/stylesheets/partials_and_pages/_theme_switcher.scss */
#theme-switcher li {
  display: inline-block;
  display: inline-block;
  cursor: pointer;
  padding: 8px 14px;
  text-align: center;
  color: #cdcdcd;
  text-shadow: 0 -1px rgba(22, 41, 52, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  -o-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #1f1f1f));
  background: -webkit-linear-gradient(top, #333333, #1f1f1f);
  background: -moz-linear-gradient(top, #333333, #1f1f1f);
  background: -o-linear-gradient(top, #333333, #1f1f1f);
  background: -ms-linear-gradient(top, #333333, #1f1f1f);
  background: linear-gradient(top, #333333, #1f1f1f);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 19, ../../assets/stylesheets/elements/_buttons.scss */
#theme-switcher li:hover, #theme-switcher li:focus {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1f1f1f));
  background: -webkit-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: -moz-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: -o-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: -ms-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: linear-gradient(top, #4d4d4d, #1f1f1f);
}
/* line 20, ../../assets/stylesheets/elements/_buttons.scss */
#theme-switcher li:active {
  background: #262626;
}
/* line 24, ../../assets/stylesheets/elements/_buttons.scss */
#theme-switcher li:first-of-type {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -khtml-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 25, ../../assets/stylesheets/elements/_buttons.scss */
#theme-switcher li:last-of-type {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -khtml-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

/* line 2, ../../assets/stylesheets/partials_and_pages/_footer.scss */
#main-footer nav {
  text-align: center;
}
/* line 4, ../../assets/stylesheets/partials_and_pages/_footer.scss */
#main-footer nav a {
  display: inline-block;
  margin: 0 10px;
}

/* line 1, ../../assets/stylesheets/partials_and_pages/_styleguide.scss */
#styleguide {
  text-align: center;
}
/* line 4, ../../assets/stylesheets/partials_and_pages/_styleguide.scss */
#styleguide > article {
  padding: 20px 0;
}
/* line 59, ../../assets/stylesheets/base/_utilities.scss */
#styleguide > article:not(:first-of-type) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 60, ../../assets/stylesheets/base/_utilities.scss */
#styleguide > article:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 7, ../../assets/stylesheets/partials_and_pages/_styleguide.scss */
#styleguide > article > h1:first-of-type {
  margin-bottom: 10px;
}
/* line 10, ../../assets/stylesheets/partials_and_pages/_styleguide.scss */
#styleguide .color-palette figure {
  margin: 4px;
  width: 100px;
  height: 100px;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}
/* line 20, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(1) {
  background-color: #5c6f7b;
}
/* line 21, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(2) {
  background-color: #162934;
}
/* line 22, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(3) {
  background-color: #29aae2;
}
/* line 23, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(4) {
  background-color: #006fab;
}
/* line 24, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(5) {
  background-color: #b1ba1d;
}
/* line 25, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(6) {
  background-color: #8d8a00;
}
/* line 26, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(7) {
  background-color: #c4122f;
}
/* line 27, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(8) {
  background-color: #891f02;
}
/* line 28, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(9) {
  background-color: #b94a48;
}
/* line 29, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(10) {
  background-color: #5e2351;
}
/* line 30, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(11) {
  background-color: #492d3c;
}
/* line 31, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(12) {
  background-color: #f59f1a;
}
/* line 32, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(13) {
  background-color: #d06f19;
}
/* line 33, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(14) {
  background-color: #c9006b;
}
/* line 34, ../../assets/stylesheets/elements/_palette_swatch.scss */
#styleguide .color-palette figure:nth-of-type(15) {
  background-color: #7c0040;
}
/* line 15, ../../assets/stylesheets/partials_and_pages/_styleguide.scss */
#styleguide #typography > * {
  margin: 10px 0;
}
/* line 18, ../../assets/stylesheets/partials_and_pages/_styleguide.scss */
#styleguide .single-button a, #styleguide .single-button button, #styleguide .single-button input[type=submit] {
  display: inline-block;
  cursor: pointer;
  padding: 8px 14px;
  text-align: center;
  color: #cdcdcd;
  text-shadow: 0 -1px rgba(22, 41, 52, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  -o-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #1f1f1f));
  background: -webkit-linear-gradient(top, #333333, #1f1f1f);
  background: -moz-linear-gradient(top, #333333, #1f1f1f);
  background: -o-linear-gradient(top, #333333, #1f1f1f);
  background: -ms-linear-gradient(top, #333333, #1f1f1f);
  background: linear-gradient(top, #333333, #1f1f1f);
  margin: 10px;
}
/* line 19, ../../assets/stylesheets/elements/_buttons.scss */
#styleguide .single-button a:hover, #styleguide .single-button a:focus, #styleguide .single-button button:hover, #styleguide .single-button button:focus, #styleguide .single-button input[type=submit]:hover, #styleguide .single-button input[type=submit]:focus {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1f1f1f));
  background: -webkit-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: -moz-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: -o-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: -ms-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: linear-gradient(top, #4d4d4d, #1f1f1f);
}
/* line 20, ../../assets/stylesheets/elements/_buttons.scss */
#styleguide .single-button a:active, #styleguide .single-button button:active, #styleguide .single-button input[type=submit]:active {
  background: #262626;
}
/* line 25, ../../assets/stylesheets/partials_and_pages/_styleguide.scss */
#styleguide .multi-button a, #styleguide .multi-button button, #styleguide .multi-button input[type=submit] {
  display: inline-block;
  cursor: pointer;
  padding: 8px 14px;
  text-align: center;
  color: #cdcdcd;
  text-shadow: 0 -1px rgba(22, 41, 52, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  -o-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #1f1f1f));
  background: -webkit-linear-gradient(top, #333333, #1f1f1f);
  background: -moz-linear-gradient(top, #333333, #1f1f1f);
  background: -o-linear-gradient(top, #333333, #1f1f1f);
  background: -ms-linear-gradient(top, #333333, #1f1f1f);
  background: linear-gradient(top, #333333, #1f1f1f);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  margin: 10px 0;
}
/* line 19, ../../assets/stylesheets/elements/_buttons.scss */
#styleguide .multi-button a:hover, #styleguide .multi-button a:focus, #styleguide .multi-button button:hover, #styleguide .multi-button button:focus, #styleguide .multi-button input[type=submit]:hover, #styleguide .multi-button input[type=submit]:focus {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1f1f1f));
  background: -webkit-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: -moz-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: -o-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: -ms-linear-gradient(top, #4d4d4d, #1f1f1f);
  background: linear-gradient(top, #4d4d4d, #1f1f1f);
}
/* line 20, ../../assets/stylesheets/elements/_buttons.scss */
#styleguide .multi-button a:active, #styleguide .multi-button button:active, #styleguide .multi-button input[type=submit]:active {
  background: #262626;
}
/* line 24, ../../assets/stylesheets/elements/_buttons.scss */
#styleguide .multi-button a:first-of-type, #styleguide .multi-button button:first-of-type, #styleguide .multi-button input[type=submit]:first-of-type {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -khtml-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 25, ../../assets/stylesheets/elements/_buttons.scss */
#styleguide .multi-button a:last-of-type, #styleguide .multi-button button:last-of-type, #styleguide .multi-button input[type=submit]:last-of-type {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -khtml-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
/* line 31, ../../assets/stylesheets/partials_and_pages/_styleguide.scss */
#styleguide #lists ul {
  margin: 20px auto;
}
/* line 2, ../../assets/stylesheets/elements/_lists.scss */
#styleguide #lists ul:nth-of-type(3), #styleguide #lists ul:nth-of-type(3) > li {
  list-style-type: disc;
  list-style-position: inside;
}
/* line 7, ../../assets/stylesheets/elements/_lists.scss */
#styleguide #lists ul:nth-of-type(3) > li {
  padding-left: 5px;
}
/* line 2, ../../assets/stylesheets/elements/_lists.scss */
#styleguide #lists ul:nth-of-type(4), #styleguide #lists ul:nth-of-type(4) > li {
  list-style-type: decimal;
  list-style-position: inside;
}
/* line 7, ../../assets/stylesheets/elements/_lists.scss */
#styleguide #lists ul:nth-of-type(4) > li {
  padding-left: 5px;
}
/* line 2, ../../assets/stylesheets/elements/_lists.scss */
#styleguide #lists ul:nth-of-type(5), #styleguide #lists ul:nth-of-type(5) > li {
  list-style-type: lower-alpha;
  list-style-position: inside;
}
/* line 7, ../../assets/stylesheets/elements/_lists.scss */
#styleguide #lists ul:nth-of-type(5) > li {
  padding-left: 5px;
}
/* line 37, ../../assets/stylesheets/partials_and_pages/_styleguide.scss */
#styleguide #lists ul:nth-of-type(6) li {
  width: 300px;
  padding: 10px 0;
  margin: 0 auto;
}
/* line 59, ../../assets/stylesheets/base/_utilities.scss */
#styleguide #lists ul:nth-of-type(6) li:not(:first-of-type) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 60, ../../assets/stylesheets/base/_utilities.scss */
#styleguide #lists ul:nth-of-type(6) li:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 44, ../../assets/stylesheets/partials_and_pages/_styleguide.scss */
#styleguide #lists ul:nth-of-type(7) li {
  padding: 5px 10px;
  display: inline-block;
}
/* line 64, ../../assets/stylesheets/base/_utilities.scss */
#styleguide #lists ul:nth-of-type(7) li:not(:first-of-type) {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 65, ../../assets/stylesheets/base/_utilities.scss */
#styleguide #lists ul:nth-of-type(7) li:not(:last-of-type) {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 53, ../../assets/stylesheets/partials_and_pages/_styleguide.scss */
#styleguide #forms > div {
  margin: 10px 0;
}

@media only screen and (max-width: 1024px ) {
  -webkit-text-size-adjust: none;
}
@media only screen and (max-width: 599px ) {
  /* line 16, ../../assets/stylesheets/partials_and_pages/_header.scss */
  #main-header {
    padding-top: 0;
  }
  /* line 18, ../../assets/stylesheets/partials_and_pages/_header.scss */
  #main-header h1 {
    text-align: center;
  }
  /* line 19, ../../assets/stylesheets/partials_and_pages/_header.scss */
  #main-header h1, #main-header nav {
    display: block;
  }
  /* line 21, ../../assets/stylesheets/partials_and_pages/_header.scss */
  #main-header nav a {
    width: 50%;
    padding-right: 0;
    padding-left: 0;
  }
  /* line 76, ../../assets/stylesheets/base/_utilities.scss */
  #main-header nav a, #main-header nav a:not(:first-of-type) {
    border-left: none;
  }
  /* line 77, ../../assets/stylesheets/base/_utilities.scss */
  #main-header nav a, #main-header nav a:not(:last-of-type) {
    border-right: none;
  }

  /* line 24, ../../assets/stylesheets/partials_and_pages/_theme_switcher.scss */
  #theme-switcher {
    top: auto;
    left: 0;
    bottom: 0;
    padding: 0;
    padding-top: 5px;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
  /* line 31, ../../assets/stylesheets/partials_and_pages/_theme_switcher.scss */
  #theme-switcher li {
    padding-right: 0;
    padding-left: 0;
    width: 50%;
  }

  /* line 12, ../../assets/stylesheets/partials_and_pages/_footer.scss */
  #main-footer {
    padding-bottom: 90px;
  }

  /* line 76, ../../assets/stylesheets/base/_utilities.scss */
  #styleguide #lists ul:nth-of-type(7) li, #styleguide #lists ul:nth-of-type(7) li:not(:first-of-type) {
    border-left: none;
  }
  /* line 77, ../../assets/stylesheets/base/_utilities.scss */
  #styleguide #lists ul:nth-of-type(7) li, #styleguide #lists ul:nth-of-type(7) li:not(:last-of-type) {
    border-right: none;
  }
}
