html, body {
  position: relative;
  min-height: 100%;
  width: 100%;
  height: 100%;
  line-height: 1;
}

html, body, div, span, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, output, applet, object, iframe, p, blockquote, pre, code, a, abbr, acronym, address, big, cite, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, del, dfn, table, tbody, tfoot, thead, tr, th, td, tt, var, b, u, i, center, dl, dt, dd, ul, ol, li, label, legend, caption, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, keygen, select, button, button::-moz-focus-inner, isindex, hr {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr, acronyminput, input, textarea {
  border: 0;
  border: none;
  outline: none;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul, li {
  list-style: none;
  list-style-type: none;
}

caption, th, input, textarea {
  text-align: left;
}

em, strong {
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.0em;
  font-weight: normal;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: '';
  content: none;
  quotes: none;
}

a, a:hover, a:visited, a:active, a:link {
  text-decoration: none;
}

form {
  display: block;
}

textarea:focus, input:focus, select:focus {
  outline: none;
}

input, textarea, keygen, select, button, isindex {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  line-height: inherit;
  text-transform: none;
  text-indent: 0;
  text-shadow: inherit;
  display: inline-block;
  text-align: inherit;
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

.clear, .clearfloat {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.8em;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.8em;
}

html {
  background: #162934 url("/images/noise.png");
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1em;
  color: white;
  text-shadow: 0 -1px rgba(22, 41, 52, 0.3);
}

a {
  text-shadow: none;
  -moz-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
a, a:visited {
  color: #29aae2;
}
a:hover {
  color: #56bce8;
}

blockquote {
  padding: 20px 10px;
  font-family: serif;
  font-style: italic;
  font-size: 1.3em;
}
blockquote:before, blockquote:after {
  content: " \"\ ";
  padding: 20px 10px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code {
  text-align: left;
  font-family: "lucida console", mono;
  font-size: 1em;
}

small {
  font-size: 0.8em;
}

button, input[type=submit] {
  display: inline-block;
  cursor: pointer;
  padding: 8px 14px;
  color: white;
  text-shadow: 0 -1px rgba(22, 41, 52, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(22, 41, 52, 0.7);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(22, 41, 52, 0.7);
  -o-box-shadow: inset 0 1px 3px 0 rgba(22, 41, 52, 0.7);
  box-shadow: inset 0 1px 3px 0 rgba(22, 41, 52, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #72003b), color-stop(100%, #490026));
  background: -webkit-linear-gradient(top, #72003b, #490026);
  background: -moz-linear-gradient(top, #72003b, #490026);
  background: -o-linear-gradient(top, #72003b, #490026);
  background: -ms-linear-gradient(top, #72003b, #490026);
  background: linear-gradient(top, #72003b, #490026);
}
button:hover, button:focus, input[type=submit]:hover, input[type=submit]:focus {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a50055), color-stop(100%, #490026));
  background: -webkit-linear-gradient(top, #a50055, #490026);
  background: -moz-linear-gradient(top, #a50055, #490026);
  background: -o-linear-gradient(top, #a50055, #490026);
  background: -ms-linear-gradient(top, #a50055, #490026);
  background: linear-gradient(top, #a50055, #490026);
}
button:active, input[type=submit]:active {
  background: #58002e;
}

textarea {
  display: inline-block;
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #070d10;
  border-bottom-color: #254558;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #112129;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -moz-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
textarea:focus {
  background: #fefefe;
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=search] {
  display: inline-block;
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #070d10;
  border-bottom-color: #254558;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #112129;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -moz-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=search]:focus {
  background: #fefefe;
}

#main-header, #main, #main-footer {
  padding: 20px;
}

#main-header {
  background: url("/images/noise.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006fab), color-stop(100%, #162934));
  background: url("/images/noise.png"), -webkit-linear-gradient(top, #006fab, #162934);
  background: url("/images/noise.png"), -moz-linear-gradient(top, #006fab, #162934);
  background: url("/images/noise.png"), -o-linear-gradient(top, #006fab, #162934);
  background: url("/images/noise.png"), -ms-linear-gradient(top, #006fab, #162934);
  background: url("/images/noise.png"), linear-gradient(top, #006fab, #162934);
  color: white;
  text-shadow: 0 -1px rgba(22, 41, 52, 0.3);
}
#main-header h1, #main-header nav {
  display: inline-block;
}
#main-header nav a {
  display: inline-block;
  padding: 3px 10px;
  text-align: center;
  font-size: 1.2em;
  text-shadow: 0 -1px #0e4a64;
  display: inline-block;
}
#main-header nav a:not(:first-of-type) {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
#main-header nav a:not(:last-of-type) {
  border-right: 1px solid rgba(22, 41, 52, 0.3);
}

#main-footer nav {
  text-align: center;
}
#main-footer nav a {
  display: inline-block;
  margin: 0 10px;
}

#styleguide {
  text-align: center;
}
#styleguide > article {
  padding: 20px 0;
}
#styleguide > article:not(:first-of-type) {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
#styleguide > article:not(:last-of-type) {
  border-bottom: 1px solid rgba(22, 41, 52, 0.3);
}
#styleguide > article > h1:first-of-type {
  margin-bottom: 10px;
}
#styleguide .color-palette figure {
  margin: 4px;
  width: 100px;
  height: 100px;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 1px 2px 0 rgba(22, 41, 52, 0.7);
  -webkit-box-shadow: 0 1px 2px 0 rgba(22, 41, 52, 0.7);
  -o-box-shadow: 0 1px 2px 0 rgba(22, 41, 52, 0.7);
  box-shadow: 0 1px 2px 0 rgba(22, 41, 52, 0.7);
}
#styleguide .color-palette figure:nth-of-type(1) {
  background-color: #5c6f7b;
}
#styleguide .color-palette figure:nth-of-type(2) {
  background-color: #162934;
}
#styleguide .color-palette figure:nth-of-type(3) {
  background-color: #29aae2;
}
#styleguide .color-palette figure:nth-of-type(4) {
  background-color: #006fab;
}
#styleguide .color-palette figure:nth-of-type(5) {
  background-color: #b1ba1d;
}
#styleguide .color-palette figure:nth-of-type(6) {
  background-color: #8d8a00;
}
#styleguide .color-palette figure:nth-of-type(7) {
  background-color: #c4122f;
}
#styleguide .color-palette figure:nth-of-type(8) {
  background-color: #891f02;
}
#styleguide .color-palette figure:nth-of-type(9) {
  background-color: #b94a48;
}
#styleguide .color-palette figure:nth-of-type(10) {
  background-color: #5e2351;
}
#styleguide .color-palette figure:nth-of-type(11) {
  background-color: #492d3c;
}
#styleguide .color-palette figure:nth-of-type(12) {
  background-color: #f59f1a;
}
#styleguide .color-palette figure:nth-of-type(13) {
  background-color: #d06f19;
}
#styleguide .color-palette figure:nth-of-type(14) {
  background-color: #c9006b;
}
#styleguide .color-palette figure:nth-of-type(15) {
  background-color: #7c0040;
}
#styleguide #typography > * {
  margin: 10px 0;
}
#styleguide .single-button a, #styleguide .single-button button, #styleguide .single-button input[type=submit] {
  display: inline-block;
  cursor: pointer;
  padding: 8px 14px;
  color: white;
  text-shadow: 0 -1px rgba(22, 41, 52, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(22, 41, 52, 0.7);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(22, 41, 52, 0.7);
  -o-box-shadow: inset 0 1px 3px 0 rgba(22, 41, 52, 0.7);
  box-shadow: inset 0 1px 3px 0 rgba(22, 41, 52, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #72003b), color-stop(100%, #490026));
  background: -webkit-linear-gradient(top, #72003b, #490026);
  background: -moz-linear-gradient(top, #72003b, #490026);
  background: -o-linear-gradient(top, #72003b, #490026);
  background: -ms-linear-gradient(top, #72003b, #490026);
  background: linear-gradient(top, #72003b, #490026);
  margin: 10px;
}
#styleguide .single-button a:hover, #styleguide .single-button a:focus, #styleguide .single-button button:hover, #styleguide .single-button button:focus, #styleguide .single-button input[type=submit]:hover, #styleguide .single-button input[type=submit]:focus {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a50055), color-stop(100%, #490026));
  background: -webkit-linear-gradient(top, #a50055, #490026);
  background: -moz-linear-gradient(top, #a50055, #490026);
  background: -o-linear-gradient(top, #a50055, #490026);
  background: -ms-linear-gradient(top, #a50055, #490026);
  background: linear-gradient(top, #a50055, #490026);
}
#styleguide .single-button a:active, #styleguide .single-button button:active, #styleguide .single-button input[type=submit]:active {
  background: #58002e;
}
#styleguide .multi-button a, #styleguide .multi-button button, #styleguide .multi-button input[type=submit] {
  display: inline-block;
  cursor: pointer;
  padding: 8px 14px;
  color: white;
  text-shadow: 0 -1px rgba(22, 41, 52, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 3px 0 rgba(22, 41, 52, 0.7);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(22, 41, 52, 0.7);
  -o-box-shadow: inset 0 1px 3px 0 rgba(22, 41, 52, 0.7);
  box-shadow: inset 0 1px 3px 0 rgba(22, 41, 52, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #72003b), color-stop(100%, #490026));
  background: -webkit-linear-gradient(top, #72003b, #490026);
  background: -moz-linear-gradient(top, #72003b, #490026);
  background: -o-linear-gradient(top, #72003b, #490026);
  background: -ms-linear-gradient(top, #72003b, #490026);
  background: linear-gradient(top, #72003b, #490026);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  margin: 10px 0;
}
#styleguide .multi-button a:hover, #styleguide .multi-button a:focus, #styleguide .multi-button button:hover, #styleguide .multi-button button:focus, #styleguide .multi-button input[type=submit]:hover, #styleguide .multi-button input[type=submit]:focus {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a50055), color-stop(100%, #490026));
  background: -webkit-linear-gradient(top, #a50055, #490026);
  background: -moz-linear-gradient(top, #a50055, #490026);
  background: -o-linear-gradient(top, #a50055, #490026);
  background: -ms-linear-gradient(top, #a50055, #490026);
  background: linear-gradient(top, #a50055, #490026);
}
#styleguide .multi-button a:active, #styleguide .multi-button button:active, #styleguide .multi-button input[type=submit]:active {
  background: #58002e;
}
#styleguide .multi-button a:first-of-type, #styleguide .multi-button button:first-of-type, #styleguide .multi-button input[type=submit]:first-of-type {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -khtml-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#styleguide .multi-button a:last-of-type, #styleguide .multi-button button:last-of-type, #styleguide .multi-button input[type=submit]:last-of-type {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -khtml-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#styleguide #lists ul {
  margin: 10px 0;
}
#styleguide #lists ul:nth-of-type(3), #styleguide #lists ul:nth-of-type(3) > li {
  list-style-type: disc;
}
#styleguide #lists ul:nth-of-type(3) > li {
  padding-left: 5px;
}
#styleguide #lists ul:nth-of-type(4), #styleguide #lists ul:nth-of-type(4) > li {
  list-style-type: decimal;
}
#styleguide #lists ul:nth-of-type(4) > li {
  padding-left: 5px;
}
#styleguide #lists ul:nth-of-type(5), #styleguide #lists ul:nth-of-type(5) > li {
  list-style-type: lower-alpha;
}
#styleguide #lists ul:nth-of-type(5) > li {
  padding-left: 5px;
}
#styleguide #lists ul:nth-of-type(6) > li:not(:first-of-type) {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
#styleguide #lists ul:nth-of-type(6) > li:not(:last-of-type) {
  border-bottom: 1px solid rgba(22, 41, 52, 0.3);
}
#styleguide #lists ul:nth-of-type(7) > li {
  display: inline-block;
}
#styleguide #lists ul:nth-of-type(7) > li:not(:first-of-type) {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
#styleguide #lists ul:nth-of-type(7) > li:not(:last-of-type) {
  border-right: 1px solid rgba(22, 41, 52, 0.3);
}
#styleguide #lists ul:nth-of-type(7) li {
  padding: 5px 10px;
}
#styleguide #forms > div {
  margin: 10px 0;
}

@media only screen and (max-width: 1024px ) {
  -webkit-text-size-adjust: none;
}
