// low-contrast theme switcher.
//
// uncomment one of the theme sets below.
// the major variables are all driven from the colors listed.

//-----------------------------------------
// dark low-contrast theme
$h136-color: $h136-light-text-color;
$h245-color: $h245-light-text-color;
$bodycopy-color: $bodycopy-light-text-color;
$body-text-shadow: $dark-text-shadow;
$body-bg-color: #333;

// bevel borders
$bevel-color-light: rgba($white, 0.1);
$bevel-color-dark: rgba(0,0,0, 0.6);
$bevel-light-border: 1px solid $bevel-color-light;
$bevel-dark-border: 1px solid $bevel-color-dark;
//-----------------------------------------

@import "low_contrast_universal_theme";