#exo-page
	%h1.hero_text_bold This Is Exo, The ‘Unique’ One.
	%h1.hero_text_thin This is a (secondary) Hairline option. Sassy.
	%h1 Big title stuff with this here h1 tag Demi 36/52. Oh Yes.

	= partial :'styleguide/typography/content_sample'

	%p body copy here, so here’s a bit of body copy for ya, champ.
	%h6 As is Header 6 is 16/18 bold. For other other stuff.
	%p body copy here, so here’s a bit of body copy for ya, sport.

	%hr
	= partial :'styleguide/typography/typography'