#source-sans-page
	%h1.hero_text_bold Meet Source Sans. It’s ‘Conservative.’
	%h1.hero_text_thin But still a bit friendly, when it wants to be.
	%h1 Big title stuff with this here h1 tag Demi 36/52. Indeed.

	= partial :'styleguide/typography/content_sample'

	%p body copy here, so here’s a bit of body copy for you, sir.
	%h6 As is Header 6 is 16/18 bold. For other other stuff.
	%p body copy here, so here’s a bit of body copy for you, madam.

	%hr
	= partial :'styleguide/typography/typography'
