%h1 Forms

%div
  %input{ :type=>"text", :placeholder=>"Text Input" }

%div
  %input{ :type=>"email", :placeholder=>"Email Input" }

%div
  %input{ :type=>"password", :placeholder=>"Password Input" }

%div
  %input{ :type=>"number", :placeholder=>"Number Input" }

%div
  %input{ :type=>"search", :placeholder=>"Search Input" }

%div
  %textarea{ :placeholder=>"Textarea." }

%div
  = partial :'styleguide/forms/_select'


.checkboxes
  = partial :'styleguide/forms/_checkbox'

.radios
  = partial :'styleguide/forms/_radio'

%div
  %input{ :type=>"submit", :value=>"Submit Input"}