%h1 Lists
%p You may use any w3 list-style property in mixin plus custom mixins.

%ul
  - 4.times do
    %li a default ul list style.

%ul
  - 4.times do
    %li a default ol list style.

%ul
  - 4.times do
    %li @include list( disc )

%ul
  - 2.times do
    %li @include list-style( decimal )

%ul
  - 4.times do
    %li @include list( lower-alpha )

%h1 Bevels
%ul
  - 4.times do
    %li @include bevel( vertical )

%ul
  - 4.times do
    %li> @include bevel( horizontal )