// one button mixin to rule them all.

@mixin button( $bg-color:"", $text-color:"" ) {
  @if $bg-color == "" { $bg-color: $button-default-bg; } // if a color isn't specified, then use the default button color
  display: inline-block;
  cursor: pointer;
  padding: $button-padding;
  @include light-text;
  @include border-radius( $button-border-radius );
  @include box-shadow( $button-shadow );
  @include background( linear-gradient(top, $bg-color, darken($bg-color, 8) ) ); 
  &:hover, &:focus { @include background( linear-gradient( top, lighten($bg-color, 10), darken($bg-color, 8) ) ); }
  &:active { @include background( darken($bg-color, 5) ); }
} // @mixin button

@mixin multi-button( $bg-color: "" ) {
  @include button( $bg-color );
  @include border-radius( 0 );
  &:first-of-type { @include border-radius( $button-border-radius 0 0 $button-border-radius ); }
  &:last-of-type  { @include border-radius( 0 $button-border-radius $button-border-radius 0 ); }
}
