@mixin text-input {
    display: inline-block;
    padding: $text-input-padding;
    text-align: left;
    vertical-align: middle;
    border: $text-input-border;
    border-bottom-color: $text-input-border-bottom;
    @include border-radius( $text-input-border-radius );
    background: $text-input-bg;
    @include box-shadow( $text-input-box-shadow );
    @include transition( background .3s );
    &:focus { background: $text-input-bg-focus; } // &:focus
} // @mixin text-input

