// $link-color: $lightblue;
// $link-hover-color: lighten($link-color, 10);
// $link-text-shadow: none;
// $nav-link-font-size: 1.2em;
// $nav-link-text-shadow: 0 -1px darken($link-color, 30);

@mixin link {
  text-shadow: $link-text-shadow;
  @include transition( color 0.2s );
  &, &:visited { color: $link-color; }
  &:hover { color: $link-hover-color; }
} // @mixin link

@mixin nav-link {
  font-size: $nav-link-font-size;
  text-shadow: $nav-link-text-shadow;
  @include bevel( horizontal );
}